{% extends 'blog/base.html' %}
{% block content %}

    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'draft_edit' slug=post.slug %}">
                    {% include './icons/pencil-square.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'post_remove' slug=post.slug %}">
                    {% include './icons/trash3.svg' %}
                </a>
            {% endif %}
        </aside>

        <div class="content">
            <div class="ck-content">
            <!-- ck-content is ckeditor5 class -->
                <h2>{{ post.title }}</h2> 

                {% if post.category %}
                    <small> in <a href="{% url 'category_posts' post.category %}">{{ post.category }} </a> </small>
                {% endif %}

                {% if post.head_image %}
                    <img src="{{ post.head_image.url }}"> 
                    {{ post.head_image|safe }}
                {% else %}
                <p style="margin-bottom:15px;"> </p>
                {% endif %}
    
                    {{ post.text|safe }}

                <br>

                {% if post.published_date %}
                    <div class="post-date">
                        {{ post.published_date }}
                    </div>
                {% else %}
                    <a class="btn btn-info" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
                {% endif %}
                
            </div>
        </div>

    </article>

{% endblock %}