{% extends 'blog/base.html' %}
{% block content %}

<article class="post">
    <aside class="actions">
        <a class="btn btn-outline-secondary" href="{% url 'draft_edit' slug=post.slug %}">
            <div class='d-flex justify-content-center'>
                {% include './icons/pencil-square.svg' %}
            </div>
        </a>
        {% if post.published_date %}
           <a class="btn btn-outline-info" href="{% url 'post_unpublish' slug=post.slug %}">
                <div class='d-flex justify-content-center'>
                    {% include './icons/file-earmark-excel.svg' %}
                </div>
            </a>
        {% else %}
            <a class="btn btn-outline-danger" href="{% url 'post_remove' slug=post.slug %}">
                <div class='d-flex justify-content-center'>
                    {% include './icons/trash3.svg' %}
                </div>
            </a>
        {% endif %}
    </aside>

    <div class="content">
        <div class="ck-content">
        <!-- ck-content is ckeditor5 class -->
            <h2>{{ post.title }}</h2> 
            <small> in {{ post.category }}</small>

            {% if post.head_image %}
                <img src="{{ post.head_image.url }}"> 
                {{ post.head_image|safe }}
            {% else %}
                <p style="margin-bottom:15px;"> </p>
            {% endif %}

                {{ post.text|safe }}

            <br>
            <p> {% for tag in post.tags.all %}&#35{{ tag }}
                    {% if not forloop.last %} 
                    {% endif %}
                {% endfor %}
            </p>

            {% if post.published_date %}
            <div class="post-date">
                {{ post.published_date|date:"d M Y, g:i A" }}
            </div>
            <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Scheduled
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'post_publish' slug=post.slug %}">Publish now</a>
                    <a class="dropdown-item" href="{% url 'draft_edit' slug=post.slug %}">Change schedule</a>
                    <a class="dropdown-item" href="{% url 'post_unpublish' slug=post.slug %}">Cancel schedule</a>
                </div>
            </div>  

            {% else %}
            <div class="dropdown">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Publish
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'post_publish' slug=post.slug %}">Now</a>
                    <a class="dropdown-item" href="{% url 'draft_edit' slug=post.slug %}">Schedule</a>
                </div>
            </div>   
            {% endif %}
                
        </div>
    </div>
</article>

{% endblock %}