{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
               {% include './icons/pencil-square.svg' %}
            </a>
            <a class="btn btn-default" href="{% url 'post_unpublish' slug=post.slug %}">
                {% include './icons/file-earmark-excel.svg' %}
            </a>
            {% endif %}
        </aside>

        <h2>{{ post.title }}</h2>
            
            <div class="card-body">
                <!-- ck ck-content is ckeditor5 class -->
                <div class="ck ck-content">
                    {{ post.text|safe}}
                </div>
            </div>
            {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            {% else %}
            <a class="btn btn-info" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
            {% endif %}
    </article>

    <hr>
    
    <!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24JtE1H0HljdhAIqb%2FwzAtX0"+"&opts=16798&num=10&ts=1711084293660");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); </script>
<!-- end www.htmlcommentbox.com -->
{% endblock %}