{% extends 'blog/base.html' %}
{% block content %}

    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
                    {% include './icons/pencil-square.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'post_unpublish' slug=post.slug %}">
                    {% include './icons/file-earmark-excel.svg' %}
                </a>
            {% endif %}
        </aside>

        <div class="content">
            <div class="ck-content">
            <!-- ck-content is ckeditor5 class -->
            <h2>{{ post.title }}</h2> 

            {% if post.category %}
                <small> in <a href="{% url 'category_posts' post.category %}">{{ post.category }} </a> </small>
            {% endif %}

            {% if post.head_image %}
                <img src="{{ post.head_image.url }}"> 
                {{ post.head_image|safe }}
            {% else %}
            <p style="margin-bottom:15px;"> </p>
            {% endif %}
  
                {{ post.text|safe }}
            <br>
            {% if post.published_date %}
                <div class="post-date">
                    {{ post.published_date }}
                </div>
            {% else %}
                <a class="btn btn-info" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
            {% endif %}
            </div>
        </div>
    </article>

    <div class="content">
        <hr>
    </div>

    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24JtE1H0HljdhAIqb%2FwzAtX0"+"&opts=16798&num=10&ts=1713427586361");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
    <!-- end www.htmlcommentbox.com -->
    <hr>

{% endblock %}