{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class="card-body">
                    <!-- ck ck-content is ckeditor5 class -->
                    <div class="ck ck-content">
                        {{post.text|safe|truncatewords:"100" }}
                        <a href="{% url 'post_detail' pk=post.pk %}"> See more</a>
                    </div>
                </div>
                
        </article>
    {% endfor %}
{% endblock %}